include ../assets/pug/_head
include ../assets/pug/_body
include ../assets/pug/_scripts

- grade = '5º'
- title = 'Formación Cívica y Ética'
- subtitle = ''

<!DOCTYPE html>
html(lang="es")
    +head
        style.

    body
        #app.container.my-5.animate__animated.animate__fadeIn.animate__delay-1s
            h1
                span.grade #{grade}
                | #{title}
            if subtitle.length>1
                h2 #{subtitle}

            +body(25*60)
        +scripts
            script.

                app.$set(app, 'scenes', [
                    {
                    instruction: '',
                    popper: '',
                    type: 'choose',
                    pregunta: 'Es una organización que se encarga de garantizar a los ciudadanos el acceso a la información pública.',

                    opcionesImgsPrefix: null,
                    opciones: [
                        'INAI.',
                        'INEGI.',
                        'INAH.',
                        'INE.'
                    ],
                    respuestaNum: 0
                }, {
                    instruction: '',
                    popper: '',
                    type: 'choose',
                    pregunta: 'Es el proceso en que los gobernantes están obligados a informar sobre sus decisiones a los ciudadanos.',

                    opcionesImgsPrefix: null,
                    opciones: [
                        'Ley de transparencia.',
                        'Asignación de recursos.',
                        'Rendición de cuentas.',
                        'Elecciones municipales.'
                    ],
                    respuestaNum: 2
                }, {
                    instruction: '',
                    popper: '',
                    type: 'choose',
                    pregunta: 'Poder de la Federación que tiene la responsabilidad de aplicar las leyes.',

                    opcionesImgsPrefix: null,
                    opciones: [
                        'Legislativo.',
                        'Judicial.',
                        'Ejecutivo.',
                        'Federal.'
                    ],
                    respuestaNum: 1
                }, {
                    instruction: '',
                    popper: '',
                    type: 'choose',
                    pregunta: 'Tipo de gobierno donde el pueblo elige a sus representantes a través del voto.',

                    opcionesImgsPrefix: null,
                    opciones: [
                        'Monárquico.',
                        'Democrático.',
                        'Absolutista.',
                        'Conservador.'
                    ],
                    respuestaNum: 1
                }, {
                    instruction: '',
                    popper: '',
                    type: 'choose',
                    pregunta: 'Es el resultado que se obtiene al incumplir las leyes o las reglas.',

                    opcionesImgsPrefix: null,
                    opciones: [
                        'Una sanción.',
                        'Un conflicto.',
                        'Una riña.',
                        'Un indulto.'
                    ],
                    respuestaNum: 0
                }, {
                    instruction: '',
                    popper: '',
                    type: 'choose',
                    pregunta: 'Representan formas para la toma de decisiones colectivas, excepto una. ¿Cuál es?',

                    opcionesImgsPrefix: null,
                    opciones: [
                        'Imposición.',
                        'Acuerdo.',
                        'Votación.',
                        'Diálogo.'
                    ],
                    respuestaNum: 0
                }, {
                    instruction: '',
                    popper: '',
                    type: 'choose',
                    pregunta: '¿Cuál es un accidente que puede suceder en tu escuela?',

                    opcionesImgsPrefix: null,
                    opciones: [
                        'Que no me despierte temprano.',
                        'Que me golpee un dedo con el sillón.',
                        'Que me tropiece por correr en el salón.',
                        'Que me tropiece en la banqueta.'
                    ],
                    respuestaNum: 2
                }, {
                    instruction: '',
                    popper: '',
                    type: 'choose',
                    pregunta: '¿Cuál es la finalidad de los acuerdos democráticos en una comunidad?',

                    opcionesImgsPrefix: null,
                    opciones: [
                        'Realizar acciones colectivas siempre con respeto y equidad.',
                        'Elegir a un representante que realice las acciones de un grupo.',
                        'Realizar acciones personales sin tomar en cuenta a los demás.',
                        'Exigir a los demás que hagan lo que otra persona hace.'
                    ],
                    respuestaNum: 0
                }, {
                    instruction: '',
                    popper: '',
                    type: 'choose',
                    pregunta: '¿Cuál es una medida para contribuir al cuidado del ambiente en tu escuela?',

                    opcionesImgsPrefix: null,
                    opciones: [
                        'Tirar basura en el patio.',
                        'Lavar mi plato después de comer.',
                        'Plantar árboles en la zona del jardín.',
                        'Comentar con mi familia qué es la contaminación.'
                    ],
                    respuestaNum: 2
                }, {
                    instruction: '',
                    popper: '',
                    type: 'choose',
                    pregunta: 'Es una forma de llegar a un acuerdo para resolver un problema en tu salón.',

                    opcionesImgsPrefix: null,
                    opciones: [
                        'Que todos opinen al mismo tiempo.',
                        'Que el maestro elija un representante.',
                        'Llevar a cabo una votación.',
                        'Realizar un debate de todos contra todos.',
                    ],
                    respuestaNum: 2
                },
                    
                ])