include ../assets/pug/_head
include ../assets/pug/_scripts

- grade = '1º'
- title = 'Conocimiento del Medio'
- subtitle = ''

<!DOCTYPE html>
html(lang="es")
    +head
        style.
            /* .css */
    body
        #app.container.my-5.animate__animated.animate__fadeIn.animate__delay-1s
            h1
                span.grade #{grade}
                | #{title}
            if subtitle.length>1
                h2 #{subtitle}

            // SCENES ############################################
            .scene(v-for="(i, index) in scenes" v-show="currentScene == index && started")
                .row
                    .col.mt-5.instruccion(v-if="i.instruction" v-html="i.instruction")
                    .col-md-4.text-center(v-if="i.popper"): popper: div(v-html="i.popper")
                // Pregunta >>>>>>>>>>>>>>>>>
                .row.mt-3.pregunta
                    // >>>> CHOOSE
                    template(v-if="i.type=='choose'")
                        choose(:key="index" v-model="r[index]" :ref="refCount()" @isright="right++; i.res=true" @iswrong="i.res=false" :num="(index+1)+'.'" :text="i.pregunta" :options="i.opciones"  :answer="i.respuestaNum" :isactive="currentScene == index")


            // SCENES FINALIZAR ############################################
            .scene(v-if="currentScene == scenes.length")
                finalize(@evaluate="finalizar" @reset="reset" :resultado="resultado" :right="right" :total="total" @goback="currentScene -= 1")


            // Counter >>>>>>>>>>
            counter(@started="started=true" @ended="finalizar" :resultado="resultado" :current-time="currentTime" @settime="currentTime=$event")
            // Navigation >>>>>>>>>>>>>>>
            navigation(v-if="started && resultado==false" :current-scene="currentScene" :scenes="scenes" @back="currentScene -= 1" @next="currentScene += 1" @goto="currentScene = $event")
        +scripts
            script.
                //app.$set(app, 'currentScene', 0)
                app.$set(app, 'scenes', [

                    {
                        instruction: '',
                        popper: '',
                        type: 'choose', //choose - input
                        pregunta: '¿Cuál imagen representa una responsabilidad que tienes en tu casa?',
                        opciones: ['<img src="aimg/1a.png">', '<img src="aimg/1b.png">', '<img src="aimg/1c.png">'],
                        respuestaNum: 2
                    },
                    {
                        instruction: '',
                        popper: '',
                        type: 'choose', //choose - input
                        pregunta: '¿Cuál es el niño que <strong>no</strong> sigue las reglas en el patio a la hora de recreo?',
                        opciones: ['<img src="aimg/2a.png">', '<img src="aimg/2b.png">', '<img src="aimg/2c.png">'],
                        respuestaNum: 2
                    },
                    {
                        instruction: '',
                        popper: '',
                        type: 'choose', //choose - input
                        pregunta: 'Es la acción que evita que ocurran accidentes dentro del salón de clases.',
                        opciones: ['Pedir la palabra para participar.','Llamar a los compañeros por su nombre.','Caminar con cuidado.'],
                        respuestaNum: 2
                    },
                    {
                        instruction: '',
                        popper: '',
                        type: 'choose', //choose - input
                        pregunta: '¿Dónde se aplica la siguiente regla? <img src="aimg/4.png" class="img-fluid">',
                        opciones: ['En un videojuego.','En el salón de clases.','En la biblioteca.'],
                        respuestaNum: 1
                    },
                    {
                        instruction: '',
                        popper: '',
                        type: 'choose', //choose - input
                        pregunta: '¿Qué partes del cuerpo usamos para correr?',
                        opciones: ['Los dedos.','La cabeza.','Las piernas.'],
                        respuestaNum: 2
                    },
                    {
                        instruction: '',
                        popper: '',
                        type: 'choose', //choose - input
                        pregunta: 'Es un rasgo físico que te hace diferente a los demás.',
                        opciones: ['El nombre de mi mascota.','El color de mi piel.','El día de mi cumpleaños.'],
                        respuestaNum: 1
                    },
                    {
                        instruction: '',
                        popper: '',
                        type: 'choose', //choose - input
                        pregunta: '¿Cuál es la imagen que te produce <strong>felicidad</strong>?',
                        opciones: ['<img src="aimg/7a.png">', '<img src="aimg/7b.png">', '<img src="aimg/7c.png">'],
                        respuestaNum: 2
                    },
                    {
                        instruction: '',
                        popper: '',
                        type: 'choose', //choose - input
                        pregunta: '¿Cuál es el documento oficial que te da identidad, y en el que aparecen datos como tu nombre, el nombre de tus padres y tu fecha de nacimiento?',
                        opciones: ['<img src="aimg/8a.png">', '<img src="aimg/8b.png">', '<img src="aimg/8c.png">'],
                        respuestaNum: 0
                    },
                    {
                        instruction: 'Observa la imagen y contesta las preguntas 9, 10 y 11.',
                        popper: '<img src="aimg/91011.png" class="img-fluid">',
                        type: 'choose', //choose - input
                        pregunta: 'Es el lugar que está a la <strong>derecha</strong> del hospital.',
                        opciones: ['<img src="aimg/9a.png">', '<img src="aimg/9b.png">', '<img src="aimg/9c.png">'],
                        respuestaNum: 0
                    },
                    {
                        instruction: 'Observa la imagen y contesta las preguntas 9, 10 y 11.',
                        popper: '<img src="aimg/91011.png" class="img-fluid">',
                        type: 'choose', //choose - input
                        pregunta: '¿Qué lugar está <strong>enfrente</strong> de la estación de policías?',
                        opciones: ['<img src="aimg/10a.png">', '<img src="aimg/10b.png">', '<img src="aimg/10c.png">'],
                        respuestaNum: 1
                    },
                    {
                        instruction: 'Observa la imagen y contesta las preguntas 9, 10 y 11.',
                        popper: '<img src="aimg/91011.png" class="img-fluid">',
                        type: 'choose', //choose - input
                        pregunta: 'Es el lugar que se encuentra <strong>enfrente</strong> del cine.',
                        opciones: ['<img src="aimg/11a.png">', '<img src="aimg/11b.png">', '<img src="aimg/11c.png">'],
                        respuestaNum: 2
                    },
                    {
                        instruction: '',
                        popper: '',
                        type: 'choose', //choose - input
                        pregunta: '¿Cuál de las siguientes imágenes <strong>no</strong> representa un elemento natural?',
                        opciones: ['<img src="aimg/12a.png">', '<img src="aimg/12b.png">', '<img src="aimg/12c.png">'],
                        respuestaNum: 0
                    },
                    {
                        instruction: '',
                        popper: '',
                        type: 'choose', //choose - input
                        pregunta: 'Selecciona el dibujo que representa a un animal doméstico.',
                        opciones: ['<img src="aimg/13a.png">', '<img src="aimg/13b.png">', '<img src="aimg/13c.png">'],
                        respuestaNum: 2
                    },
                    {
                        instruction: '',
                        popper: '',
                        type: 'choose', //choose - input
                        pregunta: 'Es una responsabilidad que cumplimos en casa.',
                        opciones: ['Levantar la mano para participar.','Tender mi cama.','Cruzar por las esquinas.'],
                        respuestaNum: 1
                    },
                    {
                        instruction: '',
                        popper: '',
                        type: 'choose', //choose - input
                        pregunta: '¿Cuál de las siguientes opciones no es un día de la semana?',
                        opciones: ['Lunes.','Sábado.','Noviembre.'],
                        respuestaNum: 2
                    },
                    
                    
                    
                ])
            
            //      <img src="aimg/lectura.png" class="img-fluid">
                    {
                        instruction: '',
                        popper: '',
                        type: '', //input
                        pregunta: '',
                        opciones: [],
                        respuestaNum: 0
                    },