include ../assets/pug/_head
include ../assets/pug/_body
include ../assets/pug/_scripts

- grade = '1º'
- title = 'Matemáticas'
- subtitle = ''

<!DOCTYPE html>
html(lang="es")
    +head
        style.
            .scene_24 .options {
                margin: -15% 2% 2%;
                padding: 0;
                justify-content: center;
            }
            .scene_24 .options > div {
                text-indent: -999px;
                width: 14%;
            }
            .scene_24 .options > div:nth-child(1) {
                margin-right: auto;
            }
            .scene_24 .options > div:nth-child(2) {
                margin-right: 3%;
            }
            .scene_24 .options > div:nth-child(4) {
                margin-left: auto;
            }
            .scene_24 .options > div.active {
                background-image: url("../../assets/aimg/check.svg");
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
            }

            
    body
        #app.container.my-5.animate__animated.animate__fadeIn.animate__delay-1s
            h1
                span.grade #{grade}
                | #{title}
            if subtitle.length>1
                h2 #{subtitle}

            +body(3000)
                template(v-if="i.type=='pregunta24'")
                    .choose
                        .label
                            strong 24.
                            span Relaciona los números con sus nombres.
                        .options: relational(:key="23" v-model="r[23]" :ref="refCount()" @isright="right++" :sources="[{img: 'aimg/24a.png'}, {img: 'aimg/24b.png'}, {img: 'aimg/24c.png'}]" :targets="[{img: 'aimg/24d.png'}, {img: 'aimg/24e.png'}, {img: 'aimg/24f.png'}]" :oks="[['s_0', 't_2'], ['s_1', 't_0'], ['s_2', 't_1']]")
                            template(v-slot:source="{source}"): img(:src="source.img").img-fluid
                            template(v-slot:target="{target}"): img(:src="target.img").img-fluid
        +scripts
            script.
                window.addEventListener("resize", function (){
                    console.log('resizing')
                    jsPlumb.repaintEverything()
                })
                app.$set(app, 'scenes', [
                    {
                        instruction: 'Selecciona la respuesta correcta.',
                        popper: '',
                        type: 'choose', 
                        pregunta: 'Observa la imagen y selecciona la opción que muestra las jirafas ordenadas de <strong>menor</strong> a <strong>mayor</strong> estatura. <img src="aimg/1.png" class="img-fluid">',
                        opcionesImgsPrefix: null,
                        opciones: ['a, b, c.','b, a, c.','c, a, b.'],
                        respuestaNum: 2
                    },
                    {
                        instruction: '',
                        popper: '',
                        type: 'choose', 
                        pregunta: 'Selecciona la opción que muestra los lápices ordenados de <strong>mayor</strong> a <strong>menor</strong> longitud.',
                        opcionesImgsPrefix: '2',
                        opciones: [],
                        respuestaNum: 2
                    },
                    {
                        instruction: 'Observa el calendario y contesta las preguntas 3, 4 y 5.',
                        popper: '<img src="aimg/3.png" class="img-fluid">',
                        type: 'choose', 
                        pregunta: '¿Cuántos días tiene una semana?',
                        opcionesImgsPrefix: null,
                        opciones: ['5 días.','7 días.','6 días.'],
                        respuestaNum: 1
                    },
                    {
                        instruction: 'Observa el calendario y contesta las preguntas 3, 4 y 5.',
                        popper: '<img src="aimg/3.png" class="img-fluid">',
                        type: 'choose', 
                        pregunta: 'Son las semanas completas que tiene el mes de febrero.',
                        opcionesImgsPrefix: null,
                        opciones: ['5 semanas.','3 semanas.','4 semanas.'],
                        respuestaNum: 1
                    },
                    {
                        instruction: 'Observa el calendario y contesta las preguntas 3, 4 y 5.',
                        popper: '<img src="aimg/3.png" class="img-fluid">',
                        type: 'choose', 
                        pregunta: '¿Cuándo se festeja el Día de la Bandera en México?',
                        opcionesImgsPrefix: null,
                        opciones: ['15 de febrero.','24 de febrero.','26 de febrero.'],
                        respuestaNum: 1
                    },
                    {
                        instruction: '',
                        popper: '',
                        type: 'choose', 
                        pregunta: '¿Cuánto dinero hay en total en la siguiente colección? <img src="aimg/6.png" class="img-fluid">',
                        opcionesImgsPrefix: null,
                        opciones: ['$48','$39','$50'],
                        respuestaNum: 2
                    },
                    {
                        instruction: '',
                        popper: '',
                        type: 'choose', 
                        pregunta: 'Es la cantidad de balones que sigue en la secuencia. <img src="aimg/7.png" class="img-fluid">',
                        opcionesImgsPrefix: '7',
                        opciones: [],
                        respuestaNum: 0
                    },
                    {
                        instruction: '',
                        popper: '',
                        type: 'choose', 
                        pregunta: 'Belén hace una pulsera con 10 cuentas. Si tiene 55 cuentas, ¿cuántas pulseras puede hacer y cuántas cuentas le sobran?',
                        opcionesImgsPrefix: null,
                        opciones: ['4 y le sobran 2.','5 y le sobran 5.','6 y le sobran 3.'],
                        respuestaNum: 1
                    },
                    {
                        instruction: '',
                        popper: '',
                        type: 'choose', 
                        pregunta: 'Es la suma que da como resultado <strong>50</strong>.',
                        opcionesImgsPrefix: null,
                        opciones: ['45 + 5 =','45 + 4 =','35 + 5 ='],
                        respuestaNum: 0
                    },
                    {
                        instruction: '',
                        popper: '',
                        type: 'choose', 
                        pregunta: '¿Cómo se llama la figura geométrica que tiene tres lados?',
                        opcionesImgsPrefix: null,
                        opciones: ['Cuadrado.','Círculo.','Triángulo.'],
                        respuestaNum: 2
                    },
                    {
                        instruction: '',
                        popper: '',
                        type: 'choose', 
                        pregunta: 'Elige la opción con las figuras que tienen cuatro lados.',
                        opcionesImgsPrefix: '11',
                        opciones: [],
                        respuestaNum: 0
                    },
                    {
                        instruction: '',
                        popper: '',
                        type: 'choose', 
                        pregunta: '¿En cuál recipiente cabe <strong>menos</strong> líquido?',
                        opcionesImgsPrefix: '12',
                        opciones: [],
                        respuestaNum: 2
                    },
                    {
                        instruction: '',
                        popper: '',
                        type: 'choose', 
                        pregunta: 'Javier tenía 24 cochecitos en sus repisas el año pasado. Este año tiene 37 cochecitos, ¿cuántos cochecitos nuevos compró?',
                        opcionesImgsPrefix: null,
                        opciones: ['16 cochecitos.','13 cochecitos.','24 cochecitos.'],
                        respuestaNum: 1
                    },
                    {
                        instruction: '',
                        popper: '',
                        type: 'choose', 
                        pregunta: 'Lucero compró 47 botellas de agua, si repartió 15 botellas entre los corredores de una competencia, ¿cuántas botellas de agua le sobraron? <img src="aimg/14.png" class="img-fluid">',
                        opcionesImgsPrefix: null,
                        opciones: ['32 botellas de agua.','23 botellas de agua.','62 botellas de agua.'],
                        respuestaNum: 0
                    },
                    {
                        instruction: 'Observa la imagen y contesta las preguntas 15, 16 y 17.',
                        popper: '<img src="aimg/15.png" class="img-fluid">',
                        type: 'choose', 
                        pregunta: 'Melisa compró una hamburguesa y un licuado. ¿Cuánto pagó en total?',
                        opcionesImgsPrefix: null,
                        opciones: ['$15','$35','$40'],
                        respuestaNum: 1
                    },
                    {
                        instruction: 'Observa la imagen y contesta las preguntas 15, 16 y 17.',
                        popper: '<img src="aimg/15.png" class="img-fluid">',
                        type: 'choose', 
                        pregunta: '¿Cuál es el producto que cuesta <strong>más</strong>?',
                        opcionesImgsPrefix: null,
                        opciones: ['Las quesadillas.','La hamburguesa.','La torta.'],
                        respuestaNum: 2
                    },
                    {
                        instruction: 'Observa la imagen y contesta las preguntas 15, 16 y 17.',
                        popper: '<img src="aimg/15.png" class="img-fluid">',
                        type: 'choose', 
                        pregunta: 'Elige la operación correcta para saber cuánto dinero tiene que pagar Israel si compra una torta y un agua de sabor.',
                        opcionesImgsPrefix: null,
                        opciones: ['30 – 5 = 25','30 + 5 = 35','30 + 10 = 40'],
                        respuestaNum: 1
                    },
                    {
                        instruction: '',
                        popper: '',
                        type: 'choose', 
                        pregunta: '¿En qué mes inicia el verano?',
                        opcionesImgsPrefix: null,
                        opciones: ['Junio.','Marzo.','Diciembre.'],
                        respuestaNum: 0
                    },
                    {
                        instruction: '',
                        popper: '',
                        type: 'choose', 
                        pregunta: '¿Cuál es la tabla que muestra información sobre el color preferido de 20 niños de primer grado?',
                        opcionesImgsPrefix: '19',
                        opciones: [],
                        respuestaNum: 0
                    },
                    {
                        instruction: '',
                        popper: '',
                        type: 'choose', 
                        pregunta: 'Ricardo tiene 98 libros y los quiere guardar en cajas de 10 libros cada una. ¿Cuántas cajas necesita?',
                        opcionesImgsPrefix: null,
                        opciones: ['7 cajas.','8 cajas.','9 cajas.'],
                        respuestaNum: 2
                    },
                    {
                        instruction: '',
                        popper: '',
                        type: 'choose', 
                        pregunta: '¿Cuántas decenas y unidades tiene el número 78?',
                        opcionesImgsPrefix: null,
                        opciones: ['8 decenas y 7 unidades.','8 decenas y 4 unidades.','7 decenas y 8 unidades.'],
                        respuestaNum: 2
                    },
                    {
                        instruction: '',
                        popper: '',
                        type: 'choose', 
                        pregunta: 'Es la suma que da como resultado <strong>100</strong>.',
                        opcionesImgsPrefix: null,
                        opciones: ['40 + 60 =','45 + 45 =','65 + 25 ='],
                        respuestaNum: 0
                    },
                    {
                        instruction: '',
                        popper: '',
                        type: 'choose', 
                        pregunta: 'Selecciona las sumas que tienen como resultado <strong>10</strong>.',
                        opcionesImgsPrefix: '23',
                        opciones: [],
                        respuestaNum: [0,1,3],
                        settings: {imgs:4},
                    },
                    {
                        instruction: '',
                        popper: '',
                        type: 'pregunta24', 
                        pregunta: '',
                        opcionesImgsPrefix: null,
                        opciones: [''],
                        respuestaNum: 0
                    },
                    {
                        instruction: '',
                        popper: '',
                        type: 'choose', 
                        pregunta: 'Selecciona el objeto que pesa <strong>más</strong> en cada balanza. <img src="aimg/25.png" class="img-fluid">',
                        opcionesImgsPrefix: null,
                        opciones: ['-', '-', '-', '-'],
                        respuestaNum: [0, 3]
                    },
                ])