include ../assets/pug/_head
include ../assets/pug/_body
include ../assets/pug/_scripts

- grade = '2º'
- title = 'Formación Cívica y Ética'
- subtitle = ''

<!DOCTYPE html>
html(lang="es")
    +head
        style.

    body
        #app.container.my-5.animate__animated.animate__fadeIn.animate__delay-1s
            h1
                span.grade #{grade}
                | #{title}
            if subtitle.length>1
                h2 #{subtitle}

            +body(15*60)
        +scripts
            script.

                app.$set(app, 'scenes', [
                    {
                    instruction: '',
                    popper: '',
                    type: 'choose',
                    pregunta: 'Es una de las acciones que permiten expresar nuestra opinión y llegar a acuerdos.',

                    opcionesImgsPrefix: null,
                    opciones: [
                        'Expresarnos de manera respetuosa.',
                        'No escuchar a los demás.',
                        'Gritar lo que pensamos.'
                    ],
                    respuestaNum: 0
                    }, {
                    instruction: '',
                    popper: '',
                    type: 'choose',
                    pregunta: '¿Para qué sirven las reglas?',

                    opcionesImgsPrefix: null,
                    opciones: [
                        'Para expresar nuestra opinión.',
                        'Para que no haya conflictos.',
                        'Para que todos se pongan de acuerdo sobre un tema.'
                    ],
                    respuestaNum: 1
                    }, {
                    instruction: '',
                    popper: '',
                    type: 'choose',
                    pregunta: '¿Cuál es la persona que representa la autoridad en el salón de clases?',
                    opcionesImgsPrefix: '3',
                    opciones: [],
                    respuestaNum: 2

                    }, {
                    instruction: '',
                    popper: '',
                    type: 'choose',
                    pregunta: 'Es una acción que nos permite cuidar al medioambiente.',

                    opcionesImgsPrefix: null,
                    opciones: [
                        'Reciclar.',
                        'Desperdiciar.',
                        'Tirar basura.'
                    ],
                    respuestaNum: 0
                    }, {
                    instruction: '',
                    popper: '',
                    type: 'choose',
                    pregunta: 'Es una regla del salón de clases.',

                    opcionesImgsPrefix: null,
                    opciones: [
                        'Recoger el plato al terminar de comer.',
                        'Tender la cama.',
                        'Levantar la mano para hablar.',
                    ],
                        respuestaNum: 2
                    },

                    
                ])