include ../assets/pug/_head
include ../assets/pug/_body
include ../assets/pug/_scripts

- grade = '2º'
- title = 'Conocimiento del Medio'
- subtitle = ''

<!DOCTYPE html>
html(lang="es")
    +head
        style.

    body
        #app.container.my-5.animate__animated.animate__fadeIn.animate__delay-1s
            h1
                span.grade #{grade}
                | #{title}
            if subtitle.length>1
                h2 #{subtitle}

            +body(40*60)
        +scripts
            script.

                app.$set(app, 'scenes', [
                    {
                    instruction: '',
                    popper: '',
                    type: 'choose',
                    pregunta: 'Es una actividad recreativa que puedes realizar dentro de casa.',
                    opcionesImgsPrefix: '1',
                    opciones: [],
                    respuestaNum: 0

                    }, {
                    instruction: '',
                    popper: '',
                    type: 'choose',
                    pregunta: '¿Cuál es la actividad recreativa que se jugaba <strong>antes</strong>?',
                    opcionesImgsPrefix: '2',
                    opciones: [],
                    respuestaNum: 2
                    }, {
                    instruction: '',
                    popper: '',
                    type: 'choose',
                    pregunta: 'Selecciona la imagen que muestra objetos con olores agradables.',
                    opcionesImgsPrefix: '3',
                    opciones: [],
                    respuestaNum: 1

                    }, {
                    instruction: '',
                    popper: '',
                    type: 'choose',
                    pregunta: '¿Cuál es el alimento que tiene un sabor dulce?',
                    opcionesImgsPrefix: '4',
                    opciones: [],
                    respuestaNum: 2

                    }, {
                    instruction: '',
                    popper: '',
                    type: 'choose',
                    pregunta: 'Es una acción que no se debe practicar al cuidar el sentido del gusto.',

                    opcionesImgsPrefix: null,
                    opciones: [
                        'Tomar limonada.',
                        'Tomar bebidas muy calientes.',
                        'Evitar introducir objetos en la nariz.'
                    ],
                    respuestaNum: 1
                    }, {
                    instruction: '',
                    popper: '',
                    type: 'choose',
                    pregunta: '¿Cuál imagen representa el estado sólido?',
                    opcionesImgsPrefix: '6',
                    opciones: [],
                    respuestaNum: 1

                    }, {
                    instruction: '',
                    popper: '',
                    type: 'choose',
                    pregunta: '¿En qué estado de la materia se encuentra el agua del mar?',

                    opcionesImgsPrefix: null,
                    opciones: [
                        'Líquido.',
                        'Sólido.',
                        'Gaseoso.'
                    ],
                    respuestaNum: 0
                    }, {
                    instruction: '',
                    popper: '',
                    type: 'choose',
                    pregunta: 'Es la mezcla que se compone de nitrógeno, oxígeno y dióxido de carbono.',

                    opcionesImgsPrefix: null,
                    opciones: [
                        'El suelo.',
                        'El agua.',
                        'El aire.'
                    ],
                    respuestaNum: 2
                    }, {
                    instruction: '',
                    popper: '',
                    type: 'choose',
                    pregunta: '¿Cuál es la estación del año donde empieza a aumentar la temperatura y algunas plantas florecen?',

                    opcionesImgsPrefix: null,
                    opciones: [
                        'Otoño.',
                        'Primavera.',
                        'Invierno.'
                    ],
                    respuestaNum: 1
                    }, {
                    instruction: '',
                    popper: '',
                    type: 'choose',
                    pregunta: 'Es la estación del año que se representa en la siguiente imagen. <img src="aimg/10.png" class="img-fluid">',

                    opcionesImgsPrefix: null,
                    opciones: [
                        'Invierno.',
                        'Otoño.',
                        'Verano.'
                    ],
                    respuestaNum: 2
                    }, {
                    instruction: '',
                    popper: '',
                    type: 'choose',
                    pregunta: 'Son los meses del año que corresponden al otoño.',

                    opcionesImgsPrefix: null,
                    opciones: [
                        'Septiembre, octubre y noviembre.',
                        'Marzo, abril y mayo.',
                        'Diciembre, enero y febrero.'
                    ],
                    respuestaNum: 0
                    }, {
                    instruction: '',
                    popper: '',
                    type: 'choose',
                    pregunta: '¿Cuál es la acción que puedes llevar a cabo para el cuidado del medioambiente?',

                    opcionesImgsPrefix: null,
                    opciones: [
                        'Reciclar basura.',
                        'Tirar basura.',
                        'Cortar árboles.'
                    ],
                    respuestaNum: 0
                    }, {
                    instruction: '',
                    popper: '',
                    type: 'choose',
                    pregunta: 'Son tradiciones mexicanas, excepto una. ¿Cuál es?',
                    opcionesImgsPrefix: '13',
                    opciones: [],
                    respuestaNum: 0

                    }, {
                    instruction: '',
                    popper: '',
                    type: 'choose',
                    pregunta: '¿Cual es la estación más fría del año?',

                    opcionesImgsPrefix: null,
                    opciones: [
                        'Primavera.',
                        'Verano.',
                        'Invierno.'
                    ],
                    respuestaNum: 2
                    }, {
                    instruction: '',
                    popper: '',
                    type: 'choose',
                    pregunta: 'Es el órgano encargado de percibir los olores.',

                    opcionesImgsPrefix: null,
                    opciones: [
                        'La nariz.',
                        'La boca.',
                        'Los ojos.',
                    ],
                    respuestaNum: 0
                    },

                    
                ])