include ../assets/pug/_head
include ../assets/pug/_body
include ../assets/pug/_scripts

- grade = '1º'
- title = 'Matemáticas'
- subtitle = ''

<!DOCTYPE html>
html(lang="es")
    +head
        style.

    body
        #app.container.my-5.animate__animated.animate__fadeIn.animate__delay-1s
            h1
                span.grade #{grade}
                | #{title}
            if subtitle.length>1
                h2 #{subtitle}

            +body(3000)
        +scripts
            script.

                app.$set(app, 'scenes', [
                    {
                    instruction: '',
                    popper: '',
                    type: 'choose',
                    pregunta: 'Para organizar los libros en la biblioteca, Felipe Ios acomoda en estantes de 10 libros cada uno. Si tiene 82 libros, ¿cuántos estantes necesita y cuántos libros le sobran?',

                    opcionesImgsPrefix: null,
                    opciones: [
                        '2 estantes y le sobran 4 libros.',
                        '8 estantes y le sobran 2 libros.',
                        '9 estantes y le sobran 2 libros.'
                    ]
                    }, {
                    instruction: '',
                    popper: '',
                    type: 'choose',
                    pregunta: '¿Cuántas decenas y unidades tiene el siguiente número?',

                    opcionesImgsPrefix: null,
                    opciones: [
                        '9 decenas y 6 unidades.',
                        '6 decenas y 9 unidades.',
                        '8 decenas y 3 unidades.'
                    ]
                    }, {
                    instruction: '',
                    popper: '',
                    type: 'choose',
                    pregunta: 'Son los números que faltan en la siguiente recta numérica.',

                    opcionesImgsPrefix: null,
                    opciones: [
                        '30, 40 y 50.',
                        '30, 50 y 90.',
                        '40, 80 y 100.'
                    ]
                    }, {
                    instruction: '',
                    popper: '',
                    type: 'choose',
                    pregunta: 'Es el frasco ton la <strong>mayor</strong> cantidad de dinero.',
                    opcionesImgsPrefix: '4',
                    opciones: [],
                    respuestaNum: 0

                    }, {
                    instruction: '',
                    popper: '',
                    type: 'choose',
                    pregunta: '¿Cuál es el objeto que pesa menos?',

                    opcionesImgsPrefix: null,
                    opciones: [
                        'El anillo.',
                        'El reloj.',
                        'Pesan lo mismo.'
                    ]
                    }, {
                    instruction: '',
                    popper: '',
                    type: 'choose',
                    pregunta: '¿Cuál es la fruta que pesa <strong>más</strong>?',
                    opcionesImgsPrefix: '6',
                    opciones: [],
                    respuestaNum: 0

                    }, {
                    instruction: '',
                    popper: '',
                    type: 'choose',
                    pregunta: '¿Cuántos días tiene febrero?',

                    opcionesImgsPrefix: null,
                    opciones: [
                        '31 días.',
                        '28 días.',
                        '30 días.'
                    ]
                    }, {
                    instruction: '',
                    popper: '',
                    type: 'choose',
                    pregunta: '¿Cuántas semanas completas tiene el mes de abril?',

                    opcionesImgsPrefix: null,
                    opciones: [
                        '5 semanas.',
                        '4 semanas.',
                        '3 semanas.'
                    ]
                    }, {
                    instruction: '',
                    popper: '',
                    type: 'choose',
                    pregunta: 'Son los meses que solamente tienen 30 días.',
                    opcionesImgsPrefix: '9',
                    opciones: [],
                    respuestaNum: 0

                    }, {
                    instruction: '',
                    popper: '',
                    type: 'choose',
                    pregunta: 'Es la descomposición en decenas y unidades de la siguiente suma.',

                    opcionesImgsPrefix: null,
                    opciones: [
                        '20 + 10 + 10 + 10 + 10 + 10 + 8 + 2 =',
                        '10 ÷ 10 + 10 ÷ 10 + 10 + 8 + 2 =',
                        '20 + 20 + 10 + 10 + 8 + 2 ='
                    ]
                    }, {
                    instruction: '',
                    popper: '',
                    type: 'choose',
                    pregunta: '¿Cuál de las rectas numéricas se puede usar para solucionar el siguiente problema?',
                    opcionesImgsPrefix: '1',
                    opciones: [],
                    respuestaNum: 01

                    }, {
                    instruction: '',
                    popper: '',
                    type: 'choose',
                    pregunta: 'Es la recta numérica que se puede usar para solucionar el siguiente problema.',
                    opcionesImgsPrefix: '1',
                    opciones: [],
                    respuestaNum: 02

                    }, {
                    instruction: '',
                    popper: '',
                    type: 'choose',
                    pregunta: '¿Qué número se tiene que sumar a 45 para llegar a 100?',

                    opcionesImgsPrefix: null,
                    opciones: [
                        '65',
                        '25',
                        '55'
                    ]
                    }, {
                    instruction: '',
                    popper: '',
                    type: 'choose',
                    pregunta: '¿Cuáles figuras geométricas se repiten más en la siguiente imagen?',

                    opcionesImgsPrefix: null,
                    opciones: [
                        'Los cuadrados.',
                        'Los triángulos.',
                        'Los romboides.'
                    ]
                    }, {
                    instruction: '',
                    popper: '',
                    type: 'choose',
                    pregunta: 'Para hacer pulseras, la maestra Claudia utiliza cordones detres tamaños diferentes. ¿Cuál es el cordón que utiliza para hacer la pulsera más <strong>grande</strong>?',
                    opcionesImgsPrefix: '1',
                    opciones: [],
                    respuestaNum: 05

                    }, {
                    instruction: '',
                    popper: '',
                    type: 'choose',
                    pregunta: '¿Cuál es el objeto que no puede rodar fácilmente?',
                    opcionesImgsPrefix: '1',
                    opciones: [],
                    respuestaNum: 06

                    }, {
                    instruction: '',
                    popper: '',
                    type: 'choose',
                    pregunta: 'Elige la opción que muestra la cara de las bases de la siguiente imagen.',
                    opcionesImgsPrefix: '1',
                    opciones: [],
                    respuestaNum: 07

                    }, {
                    instruction: '',
                    popper: '',
                    type: 'choose',
                    pregunta: '¿Cuántos vasos chicos se necesitan para llenar 2 vasos grandes?',

                    opcionesImgsPrefix: null,
                    opciones: [
                        '4 vasos.',
                        '6 vasos.',
                        '8 vasos.'
                    ]
                    }, {
                    instruction: '',
                    popper: '',
                    type: 'choose',
                    pregunta: '¿Cuántos vasos medianos se necesitan para llenar 2 vasos grandes?',

                    opcionesImgsPrefix: null,
                    opciones: [
                        '4 vasos.',
                        '6 vasos.',
                        '8 vasos.'
                    ]
                    }, {
                    instruction: '',
                    popper: '',
                    type: 'choose',
                    pregunta: '¿Cuántos vasos chicos se necesitan para llenar 4 vasos medianos?',

                    opcionesImgsPrefix: null,
                    opciones: [
                        '12 vasos.',
                        '8 vasos. ',
                        '5 vasos.'
                    ]
                    }, {
                    instruction: '',
                    popper: '',
                    type: 'choose',
                    pregunta: 'Es el tapete que está hecho con las siguientes indicaciones.',
                    opcionesImgsPrefix: '2',
                    opciones: [],
                    respuestaNum: 01

                    }, {
                    instruction: '',
                    popper: '',
                    type: 'choose',
                    pregunta: '¿Cuál número se forma con las siguientes fichas de acuerdo a los valores de cada una?',

                    opcionesImgsPrefix: null,
                    opciones: [
                        '96',
                        '69',
                        '86'
                    ]
                    }, {
                    instruction: '',
                    popper: '',
                    type: 'choose',
                    pregunta: '¿Cuántos días estuvo lloviendo?',

                    opcionesImgsPrefix: null,
                    opciones: [
                        '3 días.',
                        '4 días.',
                        '5 días.'
                    ]
                    }, {
                    instruction: '',
                    popper: '',
                    type: 'choose',
                    pregunta: '¿Qué tiempo hubo más frecuentemente?',

                    opcionesImgsPrefix: null,
                    opciones: [
                        'Soleado.',
                        'Nublado.',
                        'Lluvioso.'
                    ]
                    }, {
                    instruction: '',
                    popper: '',
                    type: 'choose',
                    pregunta: '¿Por cuántos días se estuvo observando el clima?',

                    opcionesImgsPrefix: null,
                    opciones: [
                        '15 días.',
                        '20 días.',
                        '30 días.',
                    ]
                    }

                    
                ])