include ../assets/pug/_head
include ../assets/pug/_body
include ../assets/pug/_scripts

- grade = '6º'
- title = 'Historia'
- subtitle = ''

<!DOCTYPE html>
html(lang="es")
    +head
        style.

    body
        #app.container.my-5.animate__animated.animate__fadeIn.animate__delay-1s
            h1
                span.grade #{grade}
                | #{title}
            if subtitle.length>1
                h2 #{subtitle}

            +body(autosec(120, 15))
        +scripts
            script.

                app.$set(app, 'scenes', [
                    {
                        instruction: '',
                        popper: '',
                        type: 'choose',
                        pregunta: 'Sistema de gobierno que surgió en el siglo X en Europa y tuvo su apogeo hacia finales del siglo XIII en países como España y Francia.',

                        opcionesImgsPrefix: null,
                        opciones: [
                            'La monarquía.',
                            'La democracia.',
                            'El comunismo.',
                            'El feudalismo.'
                        ],
                        respuestaNum: 3
                    }, {
                        instruction: '',
                        popper: '',
                        type: 'choose',
                        pregunta: 'En el feudalismo, ¿quiénes se encargaban de las iglesias?',

                        opcionesImgsPrefix: null,
                        opciones: [
                            'Los señores feudales.',
                            'Los clérigos.',
                            'Los caballeros.',
                            'Los siervos.'
                        ],
                        respuestaNum: 1
                    }, {
                        instruction: '',
                        popper: '',
                        type: 'choose',
                        pregunta: 'Son los artículos que eran producidos en talleres artesanales y eran de uso cotidiano durante la Edad Media, excepto uno. ¿Cuál es?',

                        opcionesImgsPrefix: null,
                        opciones: [
                            'La ropa.',
                            'Los zapatos.',
                            'Las herramientas.',
                            'Las monedas.'
                        ],
                        respuestaNum: 3
                    }, {
                        instruction: '',
                        popper: '',
                        type: 'choose',
                        pregunta: '¿Cuál fue la ciudad más poblada e importante durante la Edad Media?',

                        opcionesImgsPrefix: null,
                        opciones: [
                            'Atenas.',
                            'Milán.',
                            'Venecia.',
                            'Constantinopla.'
                        ],
                        respuestaNum: 3
                    }, {
                        instruction: '',
                        popper: '',
                        type: 'choose',
                        pregunta: 'Fueron culturas que se fusionaron con la bizantina, excepto una. ¿Cuál fue?',

                        opcionesImgsPrefix: null,
                        opciones: [
                            'Romana.',
                            'Mexica.',
                            'Persa.',
                            'Griega.'
                        ],
                        respuestaNum: 1
                    }, {
                        instruction: '',
                        popper: '',
                        type: 'choose',
                        pregunta: 'Además de recuperar Jerusalén, ¿qué otros propósitos tenían los reyes cristianos de Europa en las Cruzadas?',

                        opcionesImgsPrefix: null,
                        opciones: [
                            'Dominar nuevas rutas comerciales y conseguir más riquezas.',
                            'Ampliar sus dominios más allá del Mediterráneo y conseguir seda.',
                            'Navegar hasta América para explotar las minas de plata y oro.',
                            'Dominar las rutas comerciales entre Asia y África y conseguir seda y especias.'
                        ],
                        respuestaNum: 0
                    }, {
                        instruction: '',
                        popper: '',
                        type: 'choose',
                        pregunta: 'Se le llama así al suceso durante el cual Mahoma fue perseguido por sus adversarios, huyó de la Meca y marcó el inicio de la era musulmana.',

                        opcionesImgsPrefix: null,
                        opciones: [
                            'La noche del destino.',
                            'La huida nocturna.',
                            'Hégira.',
                            'Kaaba.'
                        ],
                        respuestaNum: 2
                    }, {
                        instruction: '',
                        popper: '',
                        type: 'choose',
                        pregunta: '¿Quiénes se encargaron de expandir la doctrina del islam luego de la muerte de Mahoma?',

                        opcionesImgsPrefix: null,
                        opciones: [
                            'Los religiosos.',
                            'LOS clérigos.',
                            'Los sacerdotes.',
                            'Los califas.'
                        ],
                        respuestaNum: 3
                    }, {
                        instruction: '',
                        popper: '',
                        type: 'choose',
                        pregunta: 'Fue una doctrina que surgió en el siglo VI a.C., y tuvo amplia difusión desde India hasta China y Japón.',

                        opcionesImgsPrefix: null,
                        opciones: [
                            'El judaísmo.',
                            'El budismo.',
                            'El islam.',
                            'El cristianismo.'
                        ],
                        respuestaNum: 1
                    }, {
                        instruction: '',
                        popper: '',
                        type: 'choose',
                        pregunta: 'Son aportes de la civilización india al mundo, excepto uno. ¿Cuál es?',

                        opcionesImgsPrefix: null,
                        opciones: [
                            'El astrolabio.',
                            'El algodón.',
                            'La rueca para hilar.',
                            'La pólvora.'
                        ],
                        respuestaNum: 3
                    }, {
                        instruction: '',
                        popper: '',
                        type: 'choose',
                        pregunta: '¿Qué nombre recibe la casta superior en la India?',

                        opcionesImgsPrefix: null,
                        opciones: [
                            'Los shiva.',
                            'Los hunos.',
                            'Los dalit.',
                            'Los brahamanes.'
                        ],
                        respuestaNum: 3
                    }, {
                        instruction: '',
                        popper: '',
                        type: 'choose',
                        pregunta: 'En Japón, ¿cómo se le llamó al jefe de los ejércitos que era la autoridad durante el shogunato?',

                        opcionesImgsPrefix: null,
                        opciones: [
                            'Daimyo.',
                            'Shogun.',
                            'Dalit.',
                            'Keeba.'
                        ],
                        respuestaNum: 1
                    }, {
                        instruction: '',
                        popper: '',
                        type: 'choose',
                        pregunta: 'Fueron ciudades europeas reconocidas por ser centros de traducción de manuscritos, excepto una. ¿Cuál es?',

                        opcionesImgsPrefix: null,
                        opciones: [
                            'Palermo.',
                            'Murcia.',
                            'Toledo.',
                            'Milán.'
                        ],
                        respuestaNum: 3
                    }, {
                        instruction: '',
                        popper: '',
                        type: 'choose',
                        pregunta: 'Fue el reino que se consolidó a finales del siglo XIV cuando exploraron las costas de África y el océano Indico.',

                        opcionesImgsPrefix: null,
                        opciones: [
                            'España.',
                            'Portugal.',
                            'Francia.',
                            'Inglaterra.'
                        ],
                        respuestaNum: 1
                    }, {
                        instruction: '',
                        popper: '',
                        type: 'choose',
                        pregunta: 'Fueron los dos reinos que estuvieron enfrentados en la llamada guerra de los Cien Años que terminó a mediados del siglo XV.',

                        opcionesImgsPrefix: null,
                        opciones: [
                            'Inglaterra y Francia.',
                            'España y Portugal.',
                            'Francia y España.',
                            'Inglaterra y Portugal.',
                        ],
                        respuestaNum: 0
                    },
                    
                ])