include ../assets/pug/_head
include ../assets/pug/_scripts

- grade = '1º'
- title = 'Español'
- subtitle = ''

<!DOCTYPE html>
html(lang="es")
    +head
        style.
            /*
            .ex1 {}
            */
    body
        #app.container.my-5.animate__animated.animate__fadeIn.animate__delay-1s
            h1
                span.grade #{grade}
                | #{title}
            if subtitle.length>1
                h2 #{subtitle}
            


            .mt-5
                .instruccion Selecciona la respuesta correcta.
                    p Lee el texto y contesta las preguntas 1, 2, 3 y 4.
                .text-center
                    popper
                        img(src="aimg/lectura.png").img-fluid
            .row.mt-3
            





            finalize(@evaluate="finalizar" @reset="reset" :resultado="resultado" :right="right" :total="total")
        +scripts
            script.
                //app.$set(app.temps, '', {})