include ../assets/pug/_head
include ../assets/pug/_body
include ../assets/pug/_scripts

- grade = '5º'
- title = 'Geografía'
- subtitle = ''

<!DOCTYPE html>
html(lang="es")
    +head
        style.

    body
        #app.container.my-5.animate__animated.animate__fadeIn.animate__delay-1s
            h1
                span.grade #{grade}
                | #{title}
            if subtitle.length>1
                h2 #{subtitle}

            +body(3000)
        +scripts
            script.

                app.$set(app, 'scenes', [
                    {
                        instruction: '',
                        popper: '',
                        type: 'choose',
                        pregunta: 'Es el continente en donde sus países no alcanzan un alto crecimiento económico.',

                        opcionesImgsPrefix: null,
                        opciones: [
                            'América.',
                            'Europa.',
                            'Asia.',
                            'África.'
                        ],
                        respuestaNum: 3
                    }, {
                        instruction: '',
                        popper: '',
                        type: 'choose',
                        pregunta: 'Es la actividad mediante la cual la población de un lugar sale a otros lugares que son atractivos por varias razones.',

                        opcionesImgsPrefix: null,
                        opciones: [
                            'Agricultura.',
                            'Ganadería.',
                            'Turismo.',
                            'Comercio.'
                        ],
                        respuestaNum: 2
                    }, {
                        instruction: '',
                        popper: '',
                        type: 'choose',
                        pregunta: '¿Cómo se le llama a la actividad en la cual se hace el intercambio, la venta o compra de productos?',

                        opcionesImgsPrefix: null,
                        opciones: [
                            'Turismo.',
                            'Economía.',
                            'Ganadería.',
                            'Comercio.'
                        ],
                        respuestaNum: 3
                    }, {
                        instruction: '',
                        popper: '',
                        type: 'choose',
                        pregunta: 'Durante las actividades de comercio es la persona que compra un producto.',

                        opcionesImgsPrefix: null,
                        opciones: [
                            'Comerciante.',
                            'Migrante.',
                            'Consumidor.',
                            'Negociante.'
                        ],
                        respuestaNum: 2
                    }, {
                        instruction: '',
                        popper: '',
                        type: 'choose',
                        pregunta: '¿Cuál es uno de los aspectos que la ONU considera para medir los progresos de un país?',

                        opcionesImgsPrefix: null,
                        opciones: [
                            'La esperanza de vida.',
                            'La religión.',
                            'El número de automóviles.',
                            'El número de turistas.'
                        ],
                        respuestaNum: 0
                    }, {
                        instruction: '',
                        popper: '',
                        type: 'choose',
                        pregunta: '¿Cuál es uno de los países con mayor crecimiento económico?',

                        opcionesImgsPrefix: null,
                        opciones: [
                            'México.',
                            'Argentina.',
                            'Japón.',
                            'Perú.'
                        ],
                        respuestaNum: 2
                    }, {
                        instruction: '',
                        popper: '',
                        type: 'choose',
                        pregunta: '¿Cuál es el significado de las siglas PIB?',

                        opcionesImgsPrefix: null,
                        opciones: [
                            'Propiedad interna básica.',
                            'Producto interno bruto.',
                            'Producción interna básica.',
                            'Propiedad interna bruta.'
                        ],
                        respuestaNum: 1
                    }, {
                        instruction: '',
                        popper: '',
                        type: 'choose',
                        pregunta: 'Son las actividades cuya función es distribuir, vender y dar mantenimiento.',

                        opcionesImgsPrefix: null,
                        opciones: [
                            'Primarias.',
                            'Terciarias.',
                            'Agropecuarias.',
                            'Secundarias.'
                        ],
                        respuestaNum: 1
                    }, {
                        instruction: '',
                        popper: '',
                        type: 'choose',
                        pregunta: '¿Qué actividad no pertenece al sector terciario?',

                        opcionesImgsPrefix: null,
                        opciones: [
                            'Comercio.',
                            'Comunicación.',
                            'Minería.',
                            'Transporte.'
                        ],
                        respuestaNum: 2
                    }, {
                        instruction: '',
                        popper: '',
                        type: 'choose',
                        pregunta: '¿Cómo se le llama a la disminución de la cubierta vegetal de las selvas y los bosques provocada por el ser humano?',

                        opcionesImgsPrefix: null,
                        opciones: [
                            'Reforestación.',
                            'Avicultura.',
                            'Deforestación.',
                            'Comercio.'
                        ],
                        respuestaNum: 2
                    }, {
                        instruction: '',
                        popper: '',
                        type: 'choose',
                        pregunta: 'Es un problema ambiental que se da principalmente en las zonas urbanas debido a que se liberan grandes cantidades de sustancias contaminantes a la atmósfera.',

                        opcionesImgsPrefix: null,
                        opciones: [
                            'Contaminación del aire.',
                            'Deforestación.',
                            'Reforestación.',
                            'Revolución industrial.',
                        ],
                        respuestaNum: 0
                    }, {
                        instruction: '',
                        popper: '',
                        type: 'choose',
                        pregunta: '¡Qué sustancia se ha incrementado en la atmósfera debido al consumo de combustibles fósiles como el petróleo y el carbón?',
                        
                        opcionesImgsPrefix: null,
                        opciones: [
                            'El oxígeno.',
                            'El nitrógeno.',
                            'El dióxido de carbono.',
                            'El dióxido de oxígeno.'
                        ],
                        respuestaNum: 2
                    }, {
                        instruction: '',
                        popper: '',
                        type: 'choose',
                        pregunta: 'Son áreas de agua prácticamente sin oxígeno ni vida animal o vegetal por la presencia de algas marinas.',

                        opcionesImgsPrefix: null,
                        opciones: [
                            'Bosques.',
                            'Zonas muertas.',
                            'Pantanos.',
                            'Zonas deshabitadas.'
                        ],
                        respuestaNum: 1
                    }, {
                        instruction: '',
                        popper: '',
                        type: 'choose',
                        pregunta: 'Es uno de los sectores en los que se pueden emprender tareas para que mejoren las condiciones de los países que presentan un nivel de desarrollo bajo.',

                        opcionesImgsPrefix: null,
                        opciones: [
                            'Contaminación.',
                            'Deforestación.',
                            'Tecnología.',
                            'Política.'
                        ],
                        respuestaNum: 3
                    }, {
                        instruction: '',
                        popper: '',
                        type: 'choose',
                        pregunta: 'Son sitios que pueden ser atractivos turísticos, excepto uno. ¿Cuál es?',

                        opcionesImgsPrefix: null,
                        opciones: [
                            'Museos.',
                            'Zonas arqueológicas.',
                            'Supermercados.',
                            'Cataratas.',

                        ],
                        respuestaNum: 2
                    },
                    
                ])