include ../assets/pug/_head
include ../assets/pug/_body
include ../assets/pug/_scripts

- grade = '6º'
- title = 'Matemáticas'
- subtitle = ''

<!DOCTYPE html>
html(lang="es")
    +head
        style.

    body
        #app.container.my-5.animate__animated.animate__fadeIn.animate__delay-1s
            h1
                span.grade #{grade}
                | #{title}
            if subtitle.length>1
                h2 #{subtitle}

            +body(3000)
        +scripts
            script.

                app.$set(app, 'scenes', [
                    {
                        instruction: '',
                        popper: '',
                        type: 'choose',
                        pregunta: 'Es el desarrollo plano de una pirámide pentagonal.',
                        opcionesImgsPrefix: '1',
                        opciones: [],
                        respuestaNum: 0

                    }, {
                        instruction: '',
                        popper: '',
                        type: 'choose',
                        pregunta: 'César construirá un cuerpo geométrico. Si está constituido por dos círculos y un rectángulo, ¿cuál es el cuerpo que construirá?',

                        opcionesImgsPrefix: null,
                        opciones: [
                            'Un cono.',
                            'Un prisma rectangular.',
                            'Un cilindro.',
                            'Una pirámide rectangular.'
                        ],
                        respuestaNum: 0
                    }, {
                        instruction: '',
                        popper: '',
                        type: 'choose',
                        pregunta: '¿Cuántos triángulos se deben de trazar en el desarrollo plano para construir una pirámide octagonal?',

                        opcionesImgsPrefix: null,
                        opciones: [
                            '6 triángulos.',
                            '8 triángulos.',
                            'q triángulos.',
                            '5 triángulos.'
                        ],
                        respuestaNum: 0
                    }, {
                        instruction: '',
                        popper: '',
                        type: 'choose',
                        pregunta: 'Es el nombre que recibe la línea curva cuyos puntos están a la misma distancia de otro punto llamado centro.',

                        opcionesImgsPrefix: null,
                        opciones: [
                            'Círculo.',
                            'Diámetro.',
                            'Radio.',
                            'Circunferencia.'
                        ],
                        respuestaNum: 0
                    }, {
                        instruction: '',
                        popper: '',
                        type: 'choose',
                        pregunta: '¿Cuál es longitud de la circunferencia que tiene un radio de 3.5 cm? <img src="aimg/5.png" class="img-fluid">',

                        opcionesImgsPrefix: null,
                        opciones: [
                            '21.98 cm',
                            '10.99 cm',
                            '6.64 cm',
                            '29.18 cm'
                        ],
                        respuestaNum: 0
                    }, {
                        instruction: '',
                        popper: '',
                        type: 'choose',
                        pregunta: 'Es el volumen de la siguiente figura. <img src="aimg/6.png" class="img-fluid">',

                        opcionesImgsPrefix: null,
                        opciones: [
                            '45 u3',
                            '90 u3',
                            '23 u3',
                            '15 u3'
                        ],
                        respuestaNum: 0
                    }, {
                        instruction: '',
                        popper: '',
                        type: 'choose',
                        pregunta: '¿Cuál es el volumen del siguiente prisma? <img src="aimg/7.png" class="img-fluid">',

                        opcionesImgsPrefix: null,
                        opciones: [
                            '120 u3',
                            '15 u3',
                            '60 u3',
                            '100 u3'
                        ],
                        respuestaNum: 0
                    }, {
                        instruction: '',
                        popper: '',
                        type: 'choose',
                        pregunta: '¿Cuántas cajas caben en un contenedor como el de la imagen? <img src="aimg/8.png" class="img-fluid">',

                        opcionesImgsPrefix: null,
                        opciones: [
                            '420 cajas.',
                            '240 cajas.',
                            '100 cajas.',
                            '500 cajas.'
                        ],
                        respuestaNum: 0
                    }, {
                        instruction: '',
                        popper: '',
                        type: 'choose',
                        pregunta: 'Para formar el color morado, tenemos que mezclar & de pintura roja y el resto de pintura azul. ¿Cuál es el porcentaje de pintura azul que tenemos que agregar?',

                        opcionesImgsPrefix: null,
                        opciones: [
                            '40 %',
                            '50 %',
                            '60 %',
                            '80 %'
                        ],
                        respuestaNum: 0
                    }, {
                        instruction: '',
                        popper: '',
                        type: 'choose',
                        pregunta: 'Una impresora imprime 84 hojas cada 12 minutos. ¿Cuántas hojas imprime por minuto?',

                        opcionesImgsPrefix: null,
                        opciones: [
                            '12 hojas.',
                            '7 hojas.',
                            '14 hojas.',
                            '5 hojas.'
                        ],
                        respuestaNum: 0
                    }, {
                        instruction: '',
                        popper: '',
                        type: 'choose',
                        pregunta: 'En la colonia donde vive Marcos, el camión de la basura pasa cada 8 días y el camión repartidor de agua cada 16 días. Si hoy pasaron los dos, ¿en cuántos días volverán a pasar juntos otra vez?',

                        opcionesImgsPrefix: null,
                        opciones: [
                            '10 días.',
                            '25 días.',
                            '49 días.',
                            '16 días.'
                        ],
                        respuestaNum: 0
                    }, {
                        instruction: '',
                        popper: '',
                        type: 'choose',
                        pregunta: 'La mamá de Alondra tiene 120 m de listón rojo V 96 m de listón verde. Si los quiere cortar en pedazos del mismo tamaño, lo más grande posible, ¡cuántos pedazos obtendrá?',

                        opcionesImgsPrefix: null,
                        opciones: [
                            '24 pedazos.',
                            '120 pedazos.',
                            '69 pedazos.',
                            '39 pedazos.'
                        ],
                        respuestaNum: 0
                    }, {
                        instruction: '',
                        popper: '',
                        type: 'choose',
                        pregunta: 'Es la figura que  falta en la siguiente sucesión. <img src="aimg/13.png" class="img-fluid">',
                        opcionesImgsPrefix: '13',
                        opciones: [],
                        respuestaNum: 0

                    }, {
                        instruction: '',
                        popper: '',
                        type: 'choose',
                        pregunta: 'Selecciona la opción con el número que sigue en la sucesión. <img src="aimg/14.png" class="img-fluid">',

                        opcionesImgsPrefix: null,
                        opciones: [
                            '32',
                            '96',
                            '27',
                            '48'
                        ],
                        respuestaNum: 0
                    }, {
                        instruction: '',
                        popper: '',
                        type: 'choose',
                        pregunta: 'Antonio quiere repartir 60 litros de jugo de naranja en botellas de mst ¿Cuántas botellas necesita?',

                        opcionesImgsPrefix: null,
                        opciones: [
                            '240 botellas.',
                            '80 botellas.',
                            '40 botellas.',
                            '20 botellas.'
                        ],
                        respuestaNum: 0
                    }, {
                        instruction: '',
                        popper: '',
                        type: 'choose',
                        pregunta: 'En la fiesta de Melisa se repartieron 4 de pastel entre 3 niños. ¿Qué fracción de pastel le tocó a cada uno?',

                        opcionesImgsPrefix: null,
                        opciones: [
                            'a',
                            'b',
                            'c'
                        ],
                        respuestaNum: 0
                    }, {
                        instruction: '',
                        popper: '',
                        type: 'choose',
                        pregunta: 'En la juguetería venden el paquete de 5 pilas AA a $47.50. ¿Cuál es el precio de una pila?',
                        opcionesImgsPrefix: null,
                        opciones: [
                        '$9.50',
                        '$10.00',
                        '$8.50',
                        '$7.50'
                    ],
                    respuestaNum: 0
                    }, {
                        instruction: '',
                        popper: '',
                        type: 'choose',
                        pregunta: '¿Cuál es el área de uno de los triángulos?',

                        opcionesImgsPrefix: null,
                        opciones: [
                            '84 cm2',
                            '85 cm2',
                            '81 cm2',
                            '82 cm2'
                        ],
                        respuestaNum: 0
                    }, {
                        instruction: '',
                        popper: '',
                        type: 'choose',
                        pregunta: '¿Cuál es el perímetro del rectángulo que se forma al juntar los dos triángulos?',

                        opcionesImgsPrefix: null,
                        opciones: [
                            '62 cm',
                            '43 cm',
                            '34 cm',
                            '54 cm'
                        ],
                        respuestaNum: 0
                    }, {
                        instruction: '',
                        popper: '',
                        type: 'choose',
                        pregunta: '¿Cuál es el área del rectángulo?',

                        opcionesImgsPrefix: null,
                        opciones: [
                            '170 cm2',
                            '43 cm2',
                            '54 cm2',
                            '107 cm2'
                        ],
                        respuestaNum: 0
                    }, {
                        instruction: '',
                        popper: '',
                        type: 'choose',
                        pregunta: 'En el grupo de 6° A, 1 de cada 2 alumnos no han leído un libro completo, mientras que en 6° B, 2 de cada 3 y en 6° C, 3 de cada 4. ¿En cuál grupo hay más niños que no han leído un libro completo?',

                        opcionesImgsPrefix: null,
                        opciones: [
                            'En los tres grupos.',
                            '6° A.',
                            '6° B.',
                            '6° C.'
                        ],
                        respuestaNum: 0
                    }, {
                        instruction: '',
                        popper: '',
                        type: 'choose',
                        pregunta: 'Es el resultado de la siguiente división. <img src="aimg/22.png" class="img-fluid">',

                        opcionesImgsPrefix: null,
                        opciones: [
                            '6.042',
                            '4.062',
                            '2.406',
                            '0.624'
                        ],
                        respuestaNum: 0
                    }, {
                        instruction: '',
                        popper: '',
                        type: 'choose',
                        pregunta: '¿Cuál es el resultado de dividir ⅔ entre 3? 0 2 4 4 ? rccon 3 gl porcentaje al que equivale la razón',

                        opcionesImgsPrefix: null,
                        opciones: [
                            '12 %',
                            '75 %',
                            '50 %',
                            '25 %'
                        ],
                        respuestaNum: 0
                    }, {
                        instruction: '',
                        popper: '',
                        type: 'choose',
                        pregunta: '¿Cuál es la fórmula para calcular la longitud de una circunferencia?',

                        opcionesImgsPrefix: null,
                        opciones: [
                            'C=TxD',
                            'C=Txr',
                            'C=bxh',
                            'C=Txd',

                        ],
                        respuestaNum: 0
                    },
                    
                ])