include ../assets/pug/_head
include ../assets/pug/_body
include ../assets/pug/_scripts

- grade = '6º'
- title = 'Formación Cívica y Ética'
- subtitle = ''

<!DOCTYPE html>
html(lang="es")
    +head
        style.

    body
        #app.container.my-5.animate__animated.animate__fadeIn.animate__delay-1s
            h1
                span.grade #{grade}
                | #{title}
            if subtitle.length>1
                h2 #{subtitle}

            +body(25*60)
        +scripts
            script.

                app.$set(app, 'scenes', [
                    {
                        instruction: 'Selecciona la respuesta correcta.',
                        popper: '',
                        type: 'choose',
                        pregunta: '¿Cómo se le llama a la facultad que se le otorga a un individuo para dirigir a un grupo de personas?',

                        opcionesImgsPrefix: null,
                        opciones: [
                            'Autoridad.',
                            'Dependencia.',
                            'Jerarquía.',
                            'Posición.'
                        ],
                        respuestaNum: 0
                    }, {
                        instruction: '',
                        popper: '',
                        type: 'choose',
                        pregunta: '¿Cuál es el poder en el que la figura de autoridad la representa el presidente de la nación?',

                        opcionesImgsPrefix: null,
                        opciones: [
                            'Legislativo.',
                            'Judicial.',
                            'Ejecutivo.',
                            'Igualitario.'
                        ],
                        respuestaNum: 2
                    }, {
                        instruction: '',
                        popper: '',
                        type: 'choose',
                        pregunta: '¿Qué es la democracia?',

                        opcionesImgsPrefix: null,
                        opciones: [
                            'Es una serie de postulados de justicia que constituyen el orden normativo de una institución.',
                            'Es una forma de gobierno en la que el pueblo tiene el poder de elegir a sus representantes.',
                            'Es la cualidad que tienen las personas para ser rectas y justas en el sentido moral.',
                            'Es el cumplimiento de aquello que exigen las leyes de la fidelidad y el honor.'
                        ],
                        respuestaNum: 1
                    }, {
                        instruction: '',
                        popper: '',
                        type: 'choose',
                        pregunta: '¿Cómo se les llama a las reglas establecidas por la autoridad que ayudan a regular los aspectos sociales de un país o comunidad?',

                        opcionesImgsPrefix: null,
                        opciones: [
                            'Exigencias.',
                            'Justicia.',
                            'Leyes.',
                            'Valores.'
                        ],
                        respuestaNum: 2
                    }, {
                        instruction: '',
                        popper: '',
                        type: 'choose',
                        pregunta: 'Son los poderes en los que se divide un gobierno democrático, limitados entre sí y coordinados para cumplir funciones.',

                        opcionesImgsPrefix: null,
                        opciones: [
                            'Ejecutivo, Legislativo y Judicial.',
                            'Suprema corte, tribunal y juzgado.',
                            'Diputados, senadores y asambleístas.',
                            'Gendarmería federal, estatal y municipal.'
                        ],
                        respuestaNum: 0
                    }, {
                        instruction: '',
                        popper: '',
                        type: 'choose',
                        pregunta: 'Es el poder que se encarga de aplicar la ley e impartir la justicia en un gobierno democrático.',

                        opcionesImgsPrefix: null,
                        opciones: [
                            'Socialista.',
                            'Judicial.',
                            'Legislativo.',
                            'Ejecutivo.'
                        ],
                        respuestaNum: 1
                    }, {
                        instruction: '',
                        popper: '',
                        type: 'choose',
                        pregunta: '¿A qué se deben principalmente los problemas sociales de nuestro país?',

                        opcionesImgsPrefix: null,
                        opciones: [
                            'La autoridad.',
                            'La sociedad.',
                            'La desigualdad.',
                            'Al régimen autoritario.'
                        ],
                        respuestaNum: 2
                    }, {
                        instruction: '',
                        popper: '',
                        type: 'choose',
                        pregunta: 'Es el nombre que recibe todo aquello que rodea a un individuo y forma parte de su realidad.',

                        opcionesImgsPrefix: null,
                        opciones: [
                            'Contexto educacional.',
                            'Desarrollo social.',
                            'Crecimiento familiar.',
                            'Entorno social.'
                        ],
                        respuestaNum: 3
                    }, {
                        instruction: '',
                        popper: '',
                        type: 'choose',
                        pregunta: '¿Cuál es el nombre del documento que contiene las leyes de México?',

                        opcionesImgsPrefix: null,
                        opciones: [
                            'La Constitución Política de la República Mexicana.',
                            'La Constitución Normativa de la República Mexicana.',
                            'El Decreto Constitucional para la Libertad de la América Mexicana.',
                            'El Reglamento Provisional Político del Imperio Mexicano.',
                        ],
                        respuestaNum: 0
                    },
                    
                ])