include ../assets/pug/_head
include ../assets/pug/_body
include ../assets/pug/_scripts

- grade = '6º'
- title = 'Español'
- subtitle = ''

<!DOCTYPE html>
html(lang="es")
    +head
        style.

    body
        #app.container.my-5.animate__animated.animate__fadeIn.animate__delay-1s
            h1
                span.grade #{grade}
                | #{title}
            if subtitle.length>1
                h2 #{subtitle}

            +body(3000)
        +scripts
            script.

                app.$set(app, 'scenes', [
                    {
                        instruction: '',
                        popper: '',
                        type: 'choose',
                        pregunta: 'Son dos cualidades que definen a Guillermo González Camarena.',

                        opcionesImgsPrefix: null,
                        opciones: [
                            'Rico y popular.',
                            'Inteligente y trabajador.',
                            'Guapo y sencillo.',
                            'Serio y tímido.'
                        ],
                        respuestaNum: 0
                    }, {
                        instruction: '',
                        popper: '',
                        type: 'choose',
                        pregunta: '¿Cuál fue el invento de Guillermo González Camarena?',

                        opcionesImgsPrefix: null,
                        opciones: [
                            'Transmitir el futbol los domingos.',
                            'Grabar platillos voladores.',
                            'Promover campañas de higiene.',
                            'Crear la televisión a color.'
                        ],
                        respuestaNum: 0
                    }, {
                        instruction: '',
                        popper: '',
                        type: 'choose',
                        pregunta: '¿Qué inventó González Camarena para darle color a la televisión?',

                        opcionesImgsPrefix: null,
                        opciones: [
                            'El Sistema Tricromático Secuencial de Campos.',
                            'Aplicaciones del celular.',
                            'Programas especiales de computadora.',
                            'Pinturas de acuarelas.'
                        ],
                        respuestaNum: 0
                    }, {
                        instruction: '',
                        popper: '',
                        type: 'choose',
                        pregunta: '¿Por qué se le consideraba un buen padre a Guillermo González Camarena?',

                        opcionesImgsPrefix: null,
                        opciones: [
                            'Porque les daba muchos regalos a sus hijos.',
                            'Porque se llevaba de viaje a sus hijos cada semana.',
                            'Porque les compraba muchos dulces a sus hijos.',
                            'Porque les dedicaba los fines de semana a sus hijos.'
                        ],
                        respuestaNum: 0
                    }, {
                        instruction: '',
                        popper: '',
                        type: 'choose',
                        pregunta: '¿Cuántas lenguas indígenas existen actualmente en México?',

                        opcionesImgsPrefix: null,
                        opciones: [
                            '68 lenguas.',
                            '11 lenguas.',
                            '364 lenguas.',
                            '2 lenguas.'
                        ],
                        respuestaNum: 0
                    }, {
                        instruction: '',
                        popper: '',
                        type: 'choose',
                        pregunta: '¿Por qué a los poemas en náhuatl se les conocía como "flor y canto"?',

                        opcionesImgsPrefix: null,
                        opciones: [
                            'Porque sólo los cantaban durante la primavera.',
                            'Porque eran leídos en los rituales dedicados al dios de las flores.',
                            'Porque eran cantados y acompañados por música y danza.',
                            'Porque los escribían sobre papel hecho de flores.'
                        ],
                        respuestaNum: 0
                    }, {
                        instruction: '',
                        popper: '',
                        type: 'choose',
                        pregunta: 'Es una palabra que utilizamos en el español actual pero proviene de una lengua indígena.',

                        opcionesImgsPrefix: null,
                        opciones: [
                            'Bombón.',
                            'Naranja.',
                            'Almohada.',
                            'Mecate.'
                        ],
                        respuestaNum: 0
                    }, {
                        instruction: '',
                        popper: '',
                        type: 'choose',
                        pregunta: 'Son las lenguas indígenas que más se hablan actualmente en México, excepto una. ¿Cuál es?',

                        opcionesImgsPrefix: null,
                        opciones: [
                            'Purépecha.',
                            'Maya.',
                            'Náhuatl.',
                            'Mixteca.'
                        ],
                        respuestaNum: 0
                    }, {
                        instruction: '',
                        popper: '',
                        type: 'choose',
                        pregunta: '¿Cómo se le nombra a la forma de concebir el mundo y el universo que tenían los pueblos del México antiguo?',

                        opcionesImgsPrefix: null,
                        opciones: [
                            'Poemas indígenas.',
                            'Canto indígena.',
                            'Cosmovisión indígena.',
                            'Lengua indígena.'
                        ],
                        respuestaNum: 0
                    }, {
                        instruction: '',
                        popper: '',
                        type: 'choose',
                        pregunta: 'Es un juego que se transmite de forma oral y consiste en descubrir el significado de algunas palabras a través de metáforas.',

                        opcionesImgsPrefix: null,
                        opciones: [
                            'Poemas.',
                            'Adivinanzas.',
                            'Trabalenguas.',
                            'Canciones.'
                        ],
                        respuestaNum: 0
                    }, {
                        instruction: '',
                        popper: '',
                        type: 'choose',
                        pregunta: 'Sistema de signos que permite la producción de significados.',

                        opcionesImgsPrefix: null,
                        opciones: [
                            'Alfabeto.',
                            'Idioma.',
                            'Lengua.',
                            'Letras.'
                        ],
                        respuestaNum: 0
                    }, {
                        instruction: '',
                        popper: '',
                        type: 'choose',
                        pregunta: 'Son lenguas indígenas de la familia yutoazteca, excepto una. ¿Cuál es?',

                        opcionesImgsPrefix: null,
                        opciones: [
                            'Pima.',
                            'Inglés.',
                            'Huichol.',
                            'Cora.'
                        ],
                        respuestaNum: 0
                    }, {
                        instruction: '',
                        popper: '',
                        type: 'choose',
                        pregunta: 'Son textos que se escribían con imágenes en papel hecho con la corteza del árbol amate.',

                        opcionesImgsPrefix: null,
                        opciones: [
                            'Códices.',
                            'Pergaminos.',
                            'Historietas.',
                            'Coras.'
                        ],
                        respuestaNum: 0
                    }, {
                        instruction: '',
                        popper: '',
                        type: 'choose',
                        pregunta: '¿Por qué es importante conocer más sobre las culturas indígenas de nuestro país?',

                        opcionesImgsPrefix: null,
                        opciones: [
                            'Porque es pregunta de examen.',
                            'Porque sirve para viajar por el país.',
                            'Porque son parte del legado de nuestros',
                            'antepasados.',
                            'Porque son fácil de hablar.'
                        ],
                        respuestaNum: 0
                    }, {
                        instruction: '',
                        popper: '',
                        type: 'choose',
                        pregunta: 'Es el nombre de la persona a la que se envía una carta.',

                        opcionesImgsPrefix: null,
                        opciones: [
                            'Remitente.',
                            'Destinatario.',
                            'Estampilla.',
                            'Rúbrica.'
                        ],
                        respuestaNum: 0
                    }, {
                        instruction: '',
                        popper: '',
                        type: 'choose',
                        pregunta: '¿Cómo se llaman las palabras que se definen por el contexto en el que aparecen?',

                        opcionesImgsPrefix: null,
                        opciones: [
                            'Sustantivos.',
                            'Verbos.',
                            'Adjetivos.',
                            'Deícticos.'
                        ],
                        respuestaNum: 0
                    }, {
                        instruction: '',
                        popper: '',
                        type: 'choose',
                        pregunta: 'Elige la opción que corresponde a un saludo inicial en una carta personal.',

                        opcionesImgsPrefix: null,
                        opciones: [
                            'Querida tía Chonita:',
                            'Le mando un cordial saludo,',
                            'Atentamente.',
                            'Guadalajara, Jal., a 20 de marzo de 2021.'
                        ],
                        respuestaNum: 0
                    }, {
                        instruction: '',
                        popper: '',
                        type: 'choose',
                        pregunta: '¿Cuál palabra es un deíctico en el siguiente texto? <img src="aimg/18.png" class="img-fluid">',

                        opcionesImgsPrefix: null,
                        opciones: [
                            'Jugar.',
                            'Allá.',
                            'Todos.',
                            'Salón.'
                        ],
                        respuestaNum: 0
                    }, {
                        instruction: '',
                        popper: '',
                        type: 'choose',
                        pregunta: '¿Qué datos debe llevar escrito el sobre de una carta postal?',

                        opcionesImgsPrefix: null,
                        opciones: [
                            'Destinatario y remitente.',
                            'Lugar y fecha.',
                            'Saludo y despedida.',
                            'Asunto y firma.'
                        ],
                        respuestaNum: 0
                    }, {
                        instruction: '',
                        popper: '',
                        type: 'choose',
                        pregunta: 'Son características similares entre el correo postal y el corret electrónico, excepto una. ¿Cuál es?',

                        opcionesImgsPrefix: null,
                        opciones: [
                            'Tienen un destinatario.',
                            'Llevan escrito un mensaje para una persona con la que nos queremos comunicar.',
                            'El mensaje se envía a la dirección de la persona con la que queremos comunicarnos.',
                            'El mensaje llega al instante al destinatario.'
                        ],
                        respuestaNum: 0
                    }, {
                        instruction: '',
                        popper: '',
                        type: 'choose',
                        pregunta: '¿Qué parte de la carta debemos leer para saber quién nos la envía?',

                        opcionesImgsPrefix: null,
                        opciones: [
                            'El destinatario.',
                            'El remitente.',
                            'El código postal.',
                            'El timbre postal.'
                        ],
                        respuestaNum: 0
                    }, {
                        instruction: '',
                        popper: '',
                        type: 'choose',
                        pregunta: 'Son datos que deben escribirse en el sobre de una carta postal, excepto uno. ¿Cuál es?',

                        opcionesImgsPrefix: null,
                        opciones: [
                            'Fecha.',
                            'Calle.',
                            'Código postal.',
                            'Ciudad.'
                        ],
                        respuestaNum: 0
                    }, {
                        instruction: '',
                        popper: '',
                        type: 'choose',
                        pregunta: 'Es el tipo de poema en el que no se necesita un determinado número de sílabas por verso ni rimas, pero sí ritmo.',

                        opcionesImgsPrefix: null,
                        opciones: [
                            'Métrica.',
                            'Soneto.',
                            'Verso libre.',
                            'Panfleto.'
                        ],
                        respuestaNum: 0
                    }, {
                        instruction: '',
                        popper: '',
                        type: 'choose',
                        pregunta: '¿Qué nombre reciben las sílabas de des palabras diferentes que se juntan para formar una sola sílaba en un verso?',

                        opcionesImgsPrefix: null,
                        opciones: [
                            'Estribillo.',
                            'Sinalefa.',
                            'Métrica.',
                            'Diptongo.'
                        ],
                        respuestaNum: 0
                    }, {
                        instruction: '',
                        popper: '',
                        type: 'choose',
                        pregunta: 'Elige el verso que contiene una sinalefa.',

                        opcionesImgsPrefix: null,
                        opciones: [
                            'Es la cara que no tiene final.',
                            'Todos los borregos brincan allá.',
                            'La luna ahora inmediata se va.',
                            'Es el cuento que no cuenta nada.'
                        ],
                        respuestaNum: 0
                    }, {
                        instruction: '',
                        popper: '',
                        type: 'choose',
                        pregunta: '¿Cuál verso tiene siete sílabas?',

                        opcionesImgsPrefix: null,
                        opciones: [
                            'Tenemos la esperanza viva.',
                            'Queremos pastel.',
                            'Yo soy quien soy.',
                            'La vida es buena vida.'
                        ],
                        respuestaNum: 0
                    }, {
                        instruction: '',
                        popper: '',
                        type: 'choose',
                        pregunta: 'Son las palabras que tienen rima consonante.',

                        opcionesImgsPrefix: null,
                        opciones: [
                            'Canción / Oración.',
                            'Perro / Conejo.',
                            'Esfera / Espera.',
                            'Amor / Jamón.'
                        ],
                        respuestaNum: 0
                    }, {
                        instruction: '',
                        popper: '',
                        type: 'choose',
                        pregunta: '¿Para qué sirven las figuras literarias en la poesía?',

                        opcionesImgsPrefix: null,
                        opciones: [
                            'Para contar una historia con final feliz.',
                            'Para evocar sentimientos, sensaciones y emociones.',
                            'Para producir música en los poemas.',
                            'Para hacer más divertido el poema.'
                        ],
                        respuestaNum: 0
                    }, {
                        instruction: '',
                        popper: '',
                        type: 'choose',
                        pregunta: '¿Cuál es el género literario que exalta la belleza del lenguaje y la expresión de los sentimientos?',

                        opcionesImgsPrefix: null,
                        opciones: [
                            'La danza.',
                            'La poesía.',
                            'El cine.',
                            'El cuento.'
                        ],
                        respuestaNum: 0
                    }, {
                        instruction: '',
                        popper: '',
                        type: 'choose',
                        pregunta: 'Es el nombre que recibe un libro en blanCO en el que se recopila cualquier tipo de colección.',

                        opcionesImgsPrefix: null,
                        opciones: [
                            'Álbum.',
                            'Cuaderno.',
                            'Diccionario.',
                            'Libro de texto.',
                        ],
                        respuestaNum: 0
                    },
                    
                ])