include ../assets/pug/_head
include ../assets/pug/_body
include ../assets/pug/_scripts

- grade = '5º'
- title = 'Formación Cívica y Ética'
- subtitle = ''

<!DOCTYPE html>
html(lang="es")
    +head
        style.

    body
        #app.container.my-5.animate__animated.animate__fadeIn.animate__delay-1s
            h1
                span.grade #{grade}
                | #{title}
            if subtitle.length>1
                h2 #{subtitle}

            +body(1500)
        +scripts
            script.

                app.$set(app, 'scenes', [
                    {
                        instruction: 'Selecciona la respuesta correcta.',
                        popper: '',
                        type: 'choose', 
                        pregunta: 'El trato desigual por el color de piel es un ejemplo de:',
                        opcionesImgsPrefix: null,
                        opciones: ['Trastorno.','Discriminación.','Machismo.','Igualdad.'],
                        respuestaNum: 1
                    },
                    {
                        instruction: '',
                        popper: '',
                        type: 'choose', 
                        pregunta: 'Tipo de discriminación que consiste en un trato desfavorable por el origen étnico o nacional.',
                        opcionesImgsPrefix: null,
                        opciones: ['Xenofobia.','Clasismo.','Racial.','Sexismo.'],
                        respuestaNum: 2
                    },
                    {
                        instruction: '',
                        popper: '',
                        type: 'choose', 
                        pregunta: 'Es un ejemplo de poder asimétrico en tu salón de clases.',
                        opcionesImgsPrefix: null,
                        opciones: ['Director / maestro.','Maestro / papás.','Policía / maestro.','Maestro / alumno.'],
                        respuestaNum: 3
                    },
                    {
                        instruction: '',
                        popper: '',
                        type: 'choose', 
                        pregunta: 'Reconocer que tanto mujeres como hombres pueden trabajar y realizar labores del hogar es un ejemplo de:',
                        opcionesImgsPrefix: null,
                        opciones: ['Igualdad sustantiva.','Igualdad de derecho.','Igualdad de opinión.','Igualdad de capacidad.'],
                        respuestaNum: 0
                    },
                    {
                        instruction: '',
                        popper: '',
                        type: 'choose', 
                        pregunta: 'Son medios para la práctica de la no violencia en la cultura de la paz, excepto uno. ¿Cuál es?',
                        opcionesImgsPrefix: null,
                        opciones: ['El diálogo.','La negociación.','La imposición.','La cooperación.'],
                        respuestaNum: 2
                    },
                    {
                        instruction: '',
                        popper: '',
                        type: 'choose', 
                        pregunta: 'La justicia restaurativa hace énfasis en:',
                        opcionesImgsPrefix: null,
                        opciones: ['La reparación de los daños.','El favoritismo.','La inequidad.','La desigualdad.'],
                        respuestaNum: 0
                    },
                    {
                        instruction: '',
                        popper: '',
                        type: 'choose', 
                        pregunta: 'Es una acción para combatir la discriminación en la escuela.',
                        opcionesImgsPrefix: null,
                        opciones: ['Insultar a los demás.','Ignorar a mis compañeros.','Evitar las ofensas y comentarios denigrantes.','Evitar convivir con los demás.'],
                        respuestaNum: 2
                    },
                    {
                        instruction: '',
                        popper: '',
                        type: 'choose', 
                        pregunta: '¿Cuál es un ejemplo de relación de poder asimétrico en un hogar?',
                        opcionesImgsPrefix: null,
                        opciones: ['La relación entre un maestro y un alumno.','La relación entre un hermano y un amigo.','La relación entre un padre y un hijo.','La relación entre un niño y su mascota.'],
                        respuestaNum: 2
                    },
                    {
                        instruction: '',
                        popper: '',
                        type: 'choose', 
                        pregunta: 'Es el trato desigual o perjudicial hacia una persona, por razones de género, raza y clase, entre otras.',
                        opcionesImgsPrefix: null,
                        opciones: ['Tolerancia.','Injusticia.','Discriminación.','Violencia.'],
                        respuestaNum: 2
                    },
                    {
                        instruction: '',
                        popper: '',
                        type: 'choose', 
                        pregunta: '¿Cuál es una acción que puedes realizar para resolver conflictos mediante la practica de la cultura de la paz?',
                        opcionesImgsPrefix: null,
                        opciones: ['No hablar con los demás.','Imponer mis ideas sobre las demás.','Usar la violencia si es necesario.','Respetar la opinión de los demás.'],
                        respuestaNum: 3
                    },
                ])