include ../assets/pug/_head
include ../assets/pug/_body
include ../assets/pug/_scripts

- grade = '6º'
- title = 'Ciencias Naturales'
- subtitle = ''

<!DOCTYPE html>
html(lang="es")
    +head
        style.

    body
        #app.container.my-5.animate__animated.animate__fadeIn.animate__delay-1s
            h1
                span.grade #{grade}
                | #{title}
            if subtitle.length>1
                h2 #{subtitle}

            +body(autosec(120, 14))
        +scripts
            script.

                app.$set(app, 'scenes', [
                    {
                        instruction: '',
                        popper: '',
                        type: 'choose',
                        pregunta: 'Es un conjunto de rayos ordenados que viajan en línea recta.',

                        opcionesImgsPrefix: null,
                        opciones: [
                            'Relámpagos.',
                            'Luz.',
                            'Reflexión.',
                            'Refracción.'
                        ],
                        respuestaNum: 1
                    }, {
                        instruction: '',
                        popper: '',
                        type: 'choose',
                        pregunta: 'Son objetos que reflejan casi toda la luz que choca contra su superficie.',

                        opcionesImgsPrefix: null,
                        opciones: [
                            'Espejos.',
                            'Lentes.',
                            'Microscopios.',
                            'Telescopios.'
                        ],
                        respuestaNum: 0
                    }, {
                        instruction: '',
                        popper: '',
                        type: 'choose',
                        pregunta: '¿Cómo se ve una imagen en una cámara oscura?',

                        opcionesImgsPrefix: null,
                        opciones: [
                            'Desfigurada.',
                            'Empañada.',
                            'Invertida.',
                            'Reducida.'
                        ],
                        respuestaNum: 2
                    }, {
                        instruction: '',
                        popper: '',
                        type: 'choose',
                        pregunta: 'Instrumento que utilizó Galileo Galilei para descubrir las lunas de Júpiter.',

                        opcionesImgsPrefix: null,
                        opciones: [
                            'Periscopio.',
                            'Telescopio.',
                            'Sonda espacial.',
                            'Transbordador.'
                        ],
                        respuestaNum: 1
                    }, {
                        instruction: '',
                        popper: '',
                        type: 'choose',
                        pregunta: 'Es el nombre de las lentes que tienen los bordes más gruesos que el centro, y los rayos de luz que las atraviesan desvían su trayectoria.',

                        opcionesImgsPrefix: null,
                        opciones: [
                            'Divergentes.',
                            'Convergentes.',
                            'Biconvexas.',
                            'Bicóncavas.'
                        ],
                        respuestaNum: 0
                    }, {
                        instruction: '',
                        popper: '',
                        type: 'choose',
                        pregunta: 'En este tipo de espejos, las imágenes reflejadas son del mismo tamaño que el objeto.',

                        opcionesImgsPrefix: null,
                        opciones: [
                            'Cóncavos.',
                            'Curvos.',
                            'Convexos.',
                            'Planos.'
                        ],
                        respuestaNum: 3
                    }, {
                        instruction: '',
                        popper: '',
                        type: 'choose',
                        pregunta: 'Son el tipo de lentes que su centro es más grueso que los bordes y, al observar a través de ellas, las imágenes se ven más grandes.',

                        opcionesImgsPrefix: null,
                        opciones: [
                            'Divergentes.',
                            'Convergentes.',
                            'Biconvexas.',
                            'Bicóncavas.'
                        ],
                        respuestaNum: 1
                    }, {
                        instruction: '',
                        popper: '',
                        type: 'choose',
                        pregunta: '¿Cómo se llaman los espejos en los que los rayos divergen, pero al proyectarse hacia dentro se unen en el foco?',

                        opcionesImgsPrefix: null,
                        opciones: [
                            'Cóncavos.',
                            'Planos.',
                            'Convexos.',
                            'Bicóncavos.'
                        ],
                        respuestaNum: 2
                    }, {
                        instruction: '',
                        popper: '',
                        type: 'choose',
                        pregunta: '¿Qué tipo de lentes necesitan las personas con miopía?',

                        opcionesImgsPrefix: null,
                        opciones: [
                            'Convergentes.',
                            'Planos.',
                            'Procedentes.',
                            'Divergentes.'
                        ],
                        respuestaNum: 3
                    }, {
                        instruction: '',
                        popper: '',
                        type: 'choose',
                        pregunta: '¿Cuál es la estrella de mayor tamaño del sistema solar?',

                        opcionesImgsPrefix: null,
                        opciones: [
                            'El Sol.',
                            'La Luna.',
                            'La Tierra.',
                            'El satélite.'
                        ],
                        respuestaNum: 0
                    }, {
                        instruction: '',
                        popper: '',
                        type: 'choose',
                        pregunta: '¿Cuál es la galaxia que se encuentra más cerca de la Vía Láctea?',

                        opcionesImgsPrefix: null,
                        opciones: [
                            'Orión.',
                            'Andrómeda.',
                            'Vía Láctea.',
                            'Torbellino.'
                        ],
                        respuestaNum: 1
                    }, {
                        instruction: '',
                        popper: '',
                        type: 'choose',
                        pregunta: '¿Qué son los planetas?',

                        opcionesImgsPrefix: null,
                        opciones: [
                            'Son cuerpos celestes que se encuentran en el universo.',
                            'Son cuerpos opacos de distintos tamaños que reflejan la luz que reciben.',
                            'Son concentraciones de estrellas, polvo y gases.',
                            'Son esferas de gas que se mantienen unidas.'
                        ],
                        respuestaNum: 1
                    }, {
                        instruction: '',
                        popper: '',
                        type: 'choose',
                        pregunta: 'Son planetas rocosos, excepto uno. ¿Cuál es?',

                        opcionesImgsPrefix: null,
                        opciones: [
                            'Marte.',
                            'Tierra.',
                            'Venus.',
                            'Urano.'
                        ],
                        respuestaNum: 3
                    }, {
                        instruction: '',
                        popper: '',
                        type: 'choose',
                        pregunta: 'Es uno de los planetas que posee varios satélites naturales y anillos.',

                        opcionesImgsPrefix: null,
                        opciones: [
                            'Júpiter.',
                            'Venus.',
                            'Mercurio.',
                            'Marte.',
                        ],
                        respuestaNum: 0
                    },
                    {
                        instruction: '',
                        popper: '',
                        type: 'choose',
                        pregunta: 'Es el microscopio que tiene más de un lente y está formado por tres sistemas: mecánico, óptico y de iluminación.',
                        'Básico.',
                        'Compuesto.',
                        'Elemental.',
                        'Simple.'
                    ],
                    respuestaNum: 1
                    }, {
                        instruction: '',
                        popper: '',
                        type: 'choose',
                        pregunta: '¿Cuáles son los componentes del sistema solar que se mueven alrededor del Sol y describen órbitas más alargadas que las de los planetas?',

                        opcionesImgsPrefix: null,
                        opciones: [
                            'Los satélites.',
                            'Los meteoritos.',
                            'Los cometas.',
                            'Los asteroides.'
                        ],
                        respuestaNum: 2
                    }, {
                        instruction: '',
                        popper: '',
                        type: 'choose',
                        pregunta: '¿Cómo se le llama a la nave espacial que se manda al espacio con el fin de llevar a cabo exploraciones y enviar datos e imágenes de cuerpos muy alejados de la Tierra?',

                        opcionesImgsPrefix: null,
                        opciones: [
                            'Laboratorio espacial.',
                            'Estación espacial.',
                            'Sonda espacial.',
                            'Radiotelescopio.'
                        ],
                        respuestaNum: 2
                    }, {
                        instruction: '',
                        popper: '',
                        type: 'choose',
                        pregunta: '¿Qué es un satélite artificial?',

                        opcionesImgsPrefix: null,
                        opciones: [
                            'Un objeto construido para transmitir información y estudiar el universo.',
                            'Es un aparato que permite observar organismos microscópicos.',
                            'ES un aparato que protege la vista del sol.',
                            'Un tipo de nave espacial que estudia diferentes cuerpos celestes.'
                        ],
                        respuestaNum: 0
                    }, {
                        instruction: '',
                        popper: '',
                        type: 'choose',
                        pregunta: '¿Cómo se le llama a la energía producida por el viento?',

                        opcionesImgsPrefix: null,
                        opciones: [
                            'Geotérmica.',
                            'Eólica.',
                            'Oceánica.',
                            'Solar.'
                        ],
                        respuestaNum: 1
                    }, {
                        instruction: '',
                        popper: '',
                        type: 'choose',
                        pregunta: '¿Cuál es el planeta más cercano al Sol?',

                        opcionesImgsPrefix: null,
                        opciones: [
                            'Venus.',
                            'Tierra.',
                            'Marte.',
                            'Mercurio.',
                        ],
                        respuestaNum: 3
                    },
                ])